/* CUSTOM PROPERTIES */
.stocker-main-body {
  --primary: #192F82;
  --secondary: #61A083;
  --dark-gray: rgba(0, 0, 0, .87);

  --headerHeight: 75px;

  --border: #eeeeee;
}

h1, h2, h3, h4 {
  color: var(--primary);
}

