/* CUSTOM PROPERTIES */
.stocker-main-body {
  --primary: #192f82;
  --secondary: #61a083;
  --dark-gray: rgba(0, 0, 0, 0.87);
  --light-gray: rgba(40, 40, 40, 0.67);

  --headerHeight: 75px;

  --border: #eeeeee;
  --positive: rgb(13, 124, 13);
  --negative: rgb(162, 24, 24);
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
}

.muted {
  color: $light-gray;
}

.main-logo {
  height: calc(var(--headerHeight) - 40px);
}

.font-size-small {
  font-size: small;
}
